.container {
  display: flex;
  width: 50%;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.form mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #FF6126;
  color: #e5e5e5;
  font-weight: bold;
  border: 1px solid #cccccc;
  cursor: pointer;
  transition: opacity 500ms;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button:enabled:hover {
  opacity: 0.75;
}

.image-container {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 10px;
}

.include-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  height: 122px;
  border: 1px dashed;
  text-align: center;
  margin-right: 10px;
  padding: 20px;
}

.include-box svg path {
  fill: #FF6126;
}

.include-box span {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  color: #FF6126;
}

.image-preview-box {
  display: flex;
}

.image-preview {
  position: relative;
  margin-right: 10px;
}

.image-preview img {
  width: 160px;
}

button.fechar {
  display: none;
  position: absolute;
  padding: 0;
  margin: 5px;
  right: 0;
  top: 0;
  border-radius: 5px;
  border: none;
}

.image-preview:hover button.fechar {
  display: flex;
}


