<div class="container">



  <form class="form" [formGroup]="formularioAnuncio" (submit)="submeter()">

    <h2>Abaixo, preencha as informações do seu veículo</h2>

    <div class="image-container">
      <label class="include-box" for="image">
        <div class="include-image">
          <svg width="35" height="30" viewBox="0 0 35 30" xmlns="http://www.w3.org/2000/svg" class="box__icon">
            <title>1FFAE400-6B99-4EF8-B44C-D5574BC9003C</title>
            <path
              d="M3.502 3.4h5.11L12.02.09h10.222l3.407 3.31h5.111c1.882 0 3.408 1.481 3.408 3.309v19.856c0 1.828-1.526 3.31-3.408 3.31H3.502c-1.882 0-3.408-1.482-3.408-3.31V6.709c0-1.828 1.526-3.31 3.408-3.31zM17.13 8.364c-4.705 0-8.518 3.704-8.518 8.273 0 4.57 3.813 8.273 8.518 8.273 4.704 0 8.518-3.704 8.518-8.273 0-4.57-3.814-8.273-8.518-8.273zm0 3.309c2.823 0 5.11 2.222 5.11 4.964 0 2.741-2.287 4.964-5.11 4.964-2.823 0-5.111-2.223-5.111-4.964 0-2.742 2.288-4.964 5.11-4.964z"
              fill-rule="evenodd"></path>
          </svg>
          <input type="file" name="image" id="image" accept="image/*" style="display: none;" multiple
            (change)="incluirImagensV2($event)">
        </div>
        <span>Adicionar Fotos</span>
      </label>

      <div class="image-preview-box">
        @for (item of fotos; track $index) {
        <div class="image-preview">
          <img src={{item}} alt="" srcset="">
          <button class="fechar" (click)="removerImagem($event)" type="button"><mat-icon>close</mat-icon></button>
        </div>
        }
      </div>
    </div>

    <mat-form-field>
      <mat-label>Marca</mat-label>
      <mat-select formControlName="marca">
        @for (marca of marcas; track marca) {
        <mat-option [value]="marca.id">{{marca.nome}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Modelo</mat-label>
      <input matInput placeholder="Ex.: Corolla XEi 2014" formControlName="modelo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quilometragem (km)</mat-label>
      <input matInput type="number" placeholder="Ex.: 50.800 km" formControlName="quilometragem">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ano</mat-label>
      <input matInput placeholder="Ex.: 2014" formControlName="ano">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Combustível</mat-label>
      <mat-select formControlName="combustivel" value="GASOLINA">
        <mat-option value="GASOLINA">Gasolina</mat-option>
        <mat-option value="FLEX">Flex</mat-option>
        <mat-option value="DIESEL">Diesel</mat-option>
        <mat-option value="HIBRIDO">Híbrido</mat-option>
        <mat-option value="ELETRICO">Elétrico</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cor</mat-label>
      <mat-select formControlName="cor" value="Preto">
        <mat-option value="Preto">Preto</mat-option>
        <mat-option value="Branco">Branco</mat-option>
        <mat-option value="Cinza">Cinza</mat-option>
        <mat-option value="Prata">Prata</mat-option>
        <mat-option value="Amarelo">Amarelo</mat-option>
        <mat-option value="Azul">Azul</mat-option>
        <mat-option value="Verde">Verde</mat-option>
        <mat-option value="Vermelho">Vermelho</mat-option>
        <mat-option value="Laranja">Laranja</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Valor</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0" formControlName="valor">
      <span matTextPrefix>R$&nbsp;</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Desejo</mat-label>
      <mat-select formControlName="tipoNegociacao" value="VENDA">
        <mat-option value="VENDA">Venda</mat-option>
        <mat-option value="TROCA">Troca</mat-option>
        <mat-option value="AMBOS">Ambos</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" [disabled]="formularioAnuncio.invalid">Anunciar</button>

  </form>
</div>