section {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    color: #000000c7;
    font-family: "Inter", sans-serif;
    transition: all 0.25s;
}

.anuncio-desativado {
    opacity: 0.5;
}

section:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

img {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 10px;
    margin-top: 10px;
}

.info .valor {
    font-size: 24px;
}

.detalhes {
    margin-top: 10px;
}

.principais-info {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.principal-info {
    display: flex;
    align-items: center;
}

.principal-info img {
    width: 24px;
    margin-right: 5px;
}

.carousel-item img {
    width: 300px;
    height: 175px;
}

.acoes {
    display: flex;
}

.acoes button {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    cursor: pointer;
    transition: opacity 0.25s;
}

.acoes button:hover {
    opacity: 0.8;
}


.acoes button[class*="alternar"] {
    border-bottom-left-radius: 0px;
}

.ativo {
    background-color: red;
    color: white;
}

.inativo {
    background-color: green;
    color: white;
}

.acoes button[class=editar] {
    border-bottom-right-radius: 0px;
    background-color: black;
    color: white;
}