<div class="container">


  <form class="form" [formGroup]="formularioCadastro" (submit)="submeter()">

    <h1>Cadastro Cars for Sale</h1>

    <div class="campo-col">
      <mat-form-field appearance="outline">
        <mat-label>Primeiro nome</mat-label>
        <input matInput formControlName="primeiroNome">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Último nome</mat-label>
        <input matInput formControlName="ultimoNome">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <div class="campo-col">
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade">
      </mat-form-field>
    </div>

    <div class="campo-col">
      <mat-form-field appearance="outline">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero">
      </mat-form-field>
    </div>

    <div class="campo-col">
      <mat-form-field appearance="outline">
        <mat-label>Insira sua senha</mat-label>
        <input matInput type="password" formControlName="senha" [type]="hidePassword ? 'password' : 'text'" #senha>
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" >
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirme sua senha</mat-label>
        <input matInput type="password" formControlName="confirmacaoSenha" [type]="hideConfirmPassword ? 'password' : 'text'" #confirmacaoSenha>
        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="requisitos-senha-box">
      <p>Requisitos da senha:</p>
      <ul class="requisitos-senha">

        <li [class]="senhaPossuiTamanhoMinimo(senha.value) ? 'requisito-senha-cumprido' : 'requisito-senha-violado'">Deve conter no mínimo 8 caracteres</li>
        <li [class]="senhaPossuiUmNumero(senha.value) ? 'requisito-senha-cumprido' : 'requisito-senha-violado'">Deve possuir no mínimo um número</li>
        <li [class]="senhaPossuiUmCaractereEspecial(senha.value) ? 'requisito-senha-cumprido' : 'requisito-senha-violado'">Deve possuir no mínimo um caractere especial</li>
        <li [class]="senhasCoincidem(senha.value, confirmacaoSenha.value) ? 'requisito-senha-cumprido' : 'requisito-senha-violado'">As senhas devem coincidir</li>
      </ul>
    </div>


    <div class="rotas-alternativas">
      <a routerLink="/login">Já possui conta?</a>
    </div>


    <button type="submit" [disabled]="formularioCadastro.invalid">Entrar</button>

  </form>
</div>