nav {
    display: flex;
    justify-content: space-between;
    background-color: #ff6126;
    height: 50px;
    align-items: center;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}

nav button {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #ff6126;
    border: none;
}

input {
    flex-basis: 75%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

input:focus {
    outline: #ff6126;
    outline-style: auto;
}

.usuarioLogado {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}